/* content styles */

/*CN CUSTOM WIKI STYLES*/

.wiki h2 {
	color: #000;
	background-color: #ac8;
	border-top: 1px solid #669933;
}

.wiki h3 {
	background-color: #d4e4b4; 
	color: #000; 
}

.wiki h4 {
	background-color: #ccc;
}

.wiki h1, .wiki  h2 , .wiki  h3, .wiki  h4, .wiki  h5, .wiki  h6 {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif !important;
}


.wiki  h2, .wiki  h3, .wiki h4 {
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

.wiki h2 { 
	font-size: 1.25em; 
}

.wiki h3 { 
	font-size: 1.10em; 
}

.wiki h4, .wiki h5, .wiki h6 {
	font-size: 1em;
}

.wiki h6 {
	font-weight: lighter;
}

.wiki .h2 { 
	margin-top: 1.47em; 
}

.wiki  h2 {
	margin: 4px 1px 4px 1px;
	padding: 2px 0px 4px 3px;
}

.wiki .h3, .wiki .h4 {
	margin: 1.25em 0px 0px 0px;
	margin: 0.5em 0px 0px 0px;
	padding: 6px 0px 0px 0px;
}

.wiki  h3, .wiki  h4 {
	margin: 4px 1px 4px 1px;
	padding: 1px 0px 2px 3px;	
}


#page {
    margin-top: 1.33em;
}

/*This is wikis error message*/
	border-top: 5px solid #900;
	border-left: 1px solid #900;
	background: url(/branding/images/icon_error_lrg.gif) no-repeat 5px 1.33em;
	margin: .67em 0;
	padding: .33em 0 .67em 42px;
	min-height: 32px;
	background-color: #fff5f1;

}
	
/*End custom styles by beril*/


/* Find where this is*/
.wiki .disabled {
    /* IE ignore disabled attribute, but at least show items in gray */
    color: gray;
}

/* user interface styles */

/* this is especially for their banner doodad. I will keep this one until I understand why kevin didn't want me to remove it */ 
.wiki #searchform {
    float: right;
    margin: 5px 10px;
    padding: 0;
    white-space: nowrap;
    font-size: 0.82em;
}

*[dir="rtl"] #searchform {
    float: left;
}

.wiki #searchform form div {
    display: inline;
}
/*END: this is especially for their banner doodad */ 

/*pagetrail is what they call their custom breadcrumbs so the styles pertaining to it are pending though there's something weird about it on safari*/
.wiki #pagetrail {
    clear: right;
    display: inline;
    margin: 5px 12px;
    padding: 0;
    font-size: 0.88em;
}

*[dir="rtl"] #pagetrail {
    clear: left;
}


/*is this about the interwiki links or something else?*/
/*if it's about the links maybe just leave the icon on*/
.wiki #interwiki {
    margin: 5px 12px;
    display: inline;
    font-size: 1em;
}

*[dir="rtl"] #interwiki {
    margin: 5px 0px;
    display: inline;
    font-size: 1em;
}

.wiki #interwiki span:after {
    content: ":";
}

.wiki #pagetrail li, #pagelocation li {
    display: inline;
    margin: 0;
}

/*I want to change the separators for the page trail to something other than CSS because CSS is jumpy*/
/* XXX Warning: non-ascii characters! */
.wiki #pagetrail li:after {
    content: " åÈ ";
}

*[dir="rtl"] #pagetrail li:after {
    content: " åÇ ";
}

.wiki #pagetrail li:last-child:after {
    content: "";
}

* html #pagetrail li { /* for broken IE */
    border-left: 1px solid #AAA;
    padding: 0 0.3em;
}

/*Where's the dialog thing?*/
.wiki .dialog form {
    margin: 0 15px;
}

.wiki .dialog td {
    border: none;
    padding: 5px;
}

.wiki .dialog td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

*[dir="rtl"] .dialog td.label {
    text-align: left;
}

.wiki .dialog td.content input {
    width: 100%;
}
/*END: Where's the dialog thing?*/


.wiki #editor-textarea, .wiki #editor-help {
    padding: 3px;
    width: 80%;
    margin-top: 0.5em;
}

.wiki #editor-help {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: xx-small;
    voice-family: "\"}\"";
    voice-family: inherit;
    font-size: x-small;
    width: 97%;
    margin: .4em 2px .5em 2px;
 /*styled like the help box*/
    background-color: #fefee6;
    padding: 6px 11px 1em 6px;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.wiki #editor-comment {
    width: 70%;
}

.wiki #preview, .wiki #previewbelow {
    border: 1px solid #6C7680;
    padding: 10px 30px 20px 30px;
    /*change this one too*/
    background: url(../img/draft.png);
    margin-top: 0.5em;
}

/*still to be done*/

.wiki .diff {
    width:99%;
}

.wiki .diff-header {
    font-weight: bold;
}

.wiki .diff-title {
    background-color: #C0C0C0;
}

.wiki .diff-added {
    background-color: #E0FFE0;
    vertical-align: sub;
}

.wiki .diff-removed {
    background-color: #FFFFE0;
    vertical-align: sub;
}

.wiki .diff-added span {
    background-color: #80FF80;
}

.wiki .diff-removed span {
    background-color: #FFFF80;
}

/*gotta find what this is about*/
.wiki table.navigation {
    float: right;
    margin: 2px;
}
        

/* Spans for line-anchors - uses * html hack so that the rule only applies to
 * IE (where omitting the "display: none" triggers rendering bugs).
 */
* html span.anchor { display: none; }

/* IE6 has a bug with rendering of float elements. We workaround this bug by
 * assigning those elements a height attribute because we currently don't know
 * a better solution. This results in IE calculating the correct height of the
 * characters and displaying them correctly. We don't know any negative side
 * effects of this workaround:
 */
* html div#page, * html div#header { height: 0.001%; }

