
.menu {
	border-right: solid 1px #666633;
}

.menu_title {
	font-size: 10pt; 
      color: #000000; 
      font-family: tahoma, inherit; 

}

.sub_menu_title {
	font-size: 9pt; 
      color: #000000; 
      font-family: tahoma, inherit; 

}

.title {
	font-size: 12pt; 
      color: #000000; 
      font-family: tahoma, inherit; 
	font-weight: bold;
}

.subtitle {
	font-size: 11pt; 
      color: #000000; 
      font-family: tahoma, inherit; 
	font-weight: bold;
}